@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

$principal-font:'Raleway', sans-serif;
$dark-blue: #002442;
$medium-blue: #0075a2;
$clear-blue:#00b0d9;
$black:#120907;
$red:#FF4766;
$small-screen: 600px;
$medium-screen: 768px;
$large-screen: 992px;
$xlarge-screen: 1200px;