@import '../../variables';
@import '../../mixins';

.experienceCard{
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
    -webkit-box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.237);
-moz-box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.237);
box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.237);
border-radius: 20px;
  &--role{
    font-size: 25px;
    font-weight: bold;
  }
  &--main{
    font-weight: bold;
  }
  &--company{
    font-size: 15px;
  }
  &--period{
    color: rgb(168, 168, 168);
    font-size: 15px;
  }
  &--description{
    font-size: 15px;
    &__item{
    font-size: 15px;
      margin-bottom: 10px;
    }
  }
  &--stack{
    font-size: 15px;
    font-weight: bold;
  }
}

@include media-small{
  .experienceCard{
    width: 100%;
  }
}
