.containerCarousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 500px;
    width: auto;
    transition: all 1s ease-in;
    &-noVisible{
        margin-left: -1000px;
    }
}