@import '../../variables';

.contact{
    display: flex;
    justify-content: center;
    font-family:$principal-font ;
    &--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
        margin: 50px 0 20px 0;
        font-family: $principal-font;
        background-color: white;
        border-radius: 20px;
        background:url('../../assets/backgroundContacto.png');
        background-size: cover;
        background-position: center;
        transition: all 1s ease-in;
        animation-delay: 1s;
        &-noVisible{
        transform: scale(0);
    }
        &__title{
            color: $dark-blue;
            font-size: 50px;
        }
        &__info{
            display: flex;
            align-items: center;
            justify-content:space-around;
            width: inherit;
            & a{
                & img{
                    width: 15vw;
                    border-radius: 100px;
                    margin-bottom: 10px;
                    @media screen and (min-width: 900px){
                        width: 9vw;
                    }
                }
            }
        }
        
    }
}