@import '../../variables';


.contact{
    display: flex;
    justify-content: center;
    font-family:$principal-font ;
    &--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
        margin: 50px 0 20px 0;
        font-family: $principal-font;
        background-color: white;
        border-radius: 20px;
        background:url('https://img.freepik.com/vector-gratis/fondo-escritorio-minimo-vector-diseno-abstracto-blanco_53876-135921.jpg?w=740&t=st=1667688927~exp=1667689527~hmac=54d637557093aaf25e030b9ba21c889fb3a3b6aff516e764ff90c2716c9224fc');
        background-size: cover;
        background-position: center;
        transition: all 1s ease-in;
        animation-delay: 1s;
        &-noVisible{
        transform: scale(0);
    }
        &__title{
            color: $dark-blue;
            font-size: 50px;
        }
        &__info{
            display: flex;
            align-items: center;
            justify-content:space-around;
            width: inherit;
            & a{
                & img{
                    width: 15vw;
                    border-radius: 100px;
                    margin-bottom: 10px;
                    @media screen and (min-width: 900px){
                        width: 9vw;
                    }
                }
            }
        }
        
    }
}