@import '../../variables';
@import '../../mixins';


.projectCard{
    width: inherit;
    align-self: center;
    font-family: Raleway, sans-serif;
    max-width: inherit;
    width: 100vw;
    &--container{
        width: inherit;
        max-width: inherit;
        &__img{
            width:50%;
            -webkit-box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.237);
-moz-box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.237);
box-shadow: 0px 0px 38px -6px rgba(0, 0, 0, 0.237);
            object-fit: contain;
            max-width: inherit;   
            border-radius: 10px;
        }
        &__h1{
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: $principal-font;
            font-size: 20px;
            color: black;
        }
        &__buttons{
            display: flex;
            justify-content: center;
            gap: 10px;
            &--goLive{
                border: 1px solid $red;
                border-radius: 10px;
                width: 100px;
                height: 30px;
                font-size: 15px;
                transition-duration: 300ms;
                &:hover{
                    background-color: $red;
                    & >a{
                        color: white;
                        font-weight: bold;
                    }
                }
                & a{
                    text-decoration: none;
                    color: $dark-blue;
                    font-family: $principal-font;
                }
            }
            &--repository{
                border: 1px solid $red;
                border-radius: 10px;
                height: 30px;
                font-size: 15px;
                transition-duration: 300ms;
                &:hover{
                    background-color: $red;
                    & >a{
                        color: white;
                        font-weight: bold;
                    }
                }
                & a{
                    text-decoration: none;
                    color: $dark-blue;;
                    font-family: $principal-font;
                }
            }
        }
    }
    // &:target{
    //     opacity: 1;
    // }
}

.mobile{
    & > div >img{
        height: 500px;
        width: auto;
        object-fit: cover;
        object-position: top;
    }
}

@include media-small{
    .projectCard{
        &--container{
            &__h1{
                font-size: 20px;
            }
            &__buttons{
                &--goLive{
                    width: 100px;
                    font-size: 15px;
                }
                &--repository{
                    width: 100px;
                    font-size: 15px;
                }
            }
        }
    }
}