@import '../../variables';
@import "'../../../../mixins";


.tabComponent{
  width: 200px;
  height:40px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  transition-duration: 400ms;
  &:hover{
    cursor: pointer;
     background-color: $red;
  border: none;
  -webkit-box-shadow: -2px 1px 22px 3px $red;
-moz-box-shadow: -2px 1px 22px 3px $red;
box-shadow: -2px 1px 22px 3px $red;
  transition-duration: 600ms;

  & > p{
    color:white;
  }
  }

}

.active{
  background-color: $red;
  border: none;
  -webkit-box-shadow: -2px 1px 22px 3px $red;
-moz-box-shadow: -2px 1px 22px 3px $red;
box-shadow: -2px 1px 22px 3px $red;
  transition-duration: 600ms;

  & > p{
    color:white;
  }
}




@include media-small {
  .tabComponent{
    width: 200px;
    &>p{
      font-size: 15px;
    }
  }
}
