@import '../../variables';


.skills{
    padding:50px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    background: url("../../assets/backgroundSkills.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &--container{
        opacity: 1;
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
        padding-bottom: 20px;
        transition: all 2s ;
        transition-timing-function:cubic-bezier(.06,.85,1,1.04);        
    &.noVisible{
        opacity: 0;
    }
    }
    &--title{
        color: $dark-blue;
        font-size: 50px;
        margin-top: 10px;
    }
}