@import "../../variables";
@import "../../mixins";

.carouselCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 95vw;
    max-width: 1300px;
    // overflow: hidden;
    &--list{
        width:inherit;
        max-width: inherit;
        height: inherit;
        display: flex;
        padding: 0px;
        list-style: none;
        gap: 30px;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: 20px;
        &::-webkit-scrollbar{
            width: 10px;
            margin-top: 10px;
            background-color:rgba(0,0,0,.1);
            border-radius: 10px;

        }
        &::-webkit-scrollbar-thumb{
            margin-top: 10px;
            background-color:$red;
            border-radius: 10px;
        }
    }
}

@include media-small{
    .carouselCard{
        &--list{
            &::-webkit-scrollbar{
        display: none;

        }
        &::-webkit-scrollbar-thumb{
            display: none;
        }
        }
    }
}
