@import '../../variables';


.portfolio{
    display: flex;
    justify-content: center;
    &--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        font-family: $principal-font;
        background: url('https://img.freepik.com/vector-gratis/diseno-fondo-abstracto-formas-negras_1017-31904.jpg?w=900&t=st=1667687653~exp=1667688253~hmac=7993a2f04d363ea401a31b873fc5908f8ade4e88a9ae8db9bed7e78fd98f0554');
        background-position: center;
        background-size: cover;
        &__h1{
            text-align: center;
            margin: 0;
            font-size: 40px;
            color: white;
        }
        &__h2{
            margin: 0;
            margin-top: 20px;
            color: $clear-blue;
            border-bottom: 1px solid $clear-blue;
        }
    }
    
}